.movie-info-container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 4rem;
  max-width: 1280px;
  margin: auto;
  padding-bottom: 4rem;
}

.movie-poster {
  width: 35%;
}

.movie-poster img {
  border-radius: 5px;
  width: 100%;
  object-fit: contain;
}

.movie-details {
  width: 75%;
  display: flex;
  flex-direction: column;
}

.genres {
  display: flex;
  flex-wrap: wrap;
  gap: 0.9rem;
}

.genres li {
  color: var(--maroon);
  padding: 5px 10px;
  background-color: rgba(255, 255, 255, 0.9);
  border-radius: 500px;
  font-weight: 600;
  font-family: var(--font-merriweather);
}

ul {
  list-style: none;
}

.ratingLogo {
  display: inline;
}

.ratings {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.movie-title {
  font-size: 48px;
  font-weight: 500;
}

h4 {
  font-size: 26px;
  font-weight: 500;
  margin-bottom: 0.8rem;
  text-transform: capitalize;
}

.movie-details >:not(:last-child) {
  padding-bottom: 24px;
}

@media (max-width: 768px) {
  .movie-info-container {
    flex-direction: column;
  }

  .movie-details {
    flex-direction: row;
    flex-wrap: wrap;
    gap: 2rem;
    align-items: self-start;
  }

  .movie-poster {
    width: 50%;
  }
  
  .movie-details {
    width: 100%;
  }

  .movie-title {
    font-size: 1.2rem;
  }

  h4 {
    font-size: 1.1rem;
  }

  p, li {
    font-size: 0.8rem;
  }

  .genres li {
    padding: 3px 7px;
  }

  .movie-details >:not(:last-child) {
    padding-bottom: 0;
  }
}

@media (min-width: 769px) and (max-width: 1024px) {
  .movie-title {
    font-size: 1.8rem;
  }

  .movie-info-container {
    gap: 2rem;
  }
}