.movieCard {
  color: var(--white);
  margin: 2rem;
  cursor: pointer;
  font-family: poppins;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.movieCard:hover {
  scale: 1.2;
  transition: 300ms;
  animation-duration: 600;
  animation-timing-function: cubic-bezier(0.075, 0.82, 0.165, 1);
}
.img {
  height: 18rem;
  width: 12rem;
  border-radius: 0.3rem;
  /* box-shadow: 1px 1px 5px 5px #18181878; */
}
AiFillStar {
  color: yellow;
  font-size: 2rem;
}
.movieName {
  font-family: poppins;
  font-size: 1rem;
  font-weight: 500;
  padding-top: 0.5rem;
  width: 60%;
}
.rating {
  display: flex;
  align-items: center;
}
.ratingLogo {
  display: inline;
}
.ratingNumber {
  margin-top: 0.5rem;
  margin-left: 0.5rem;
  color: #d2d2d2be;
  font-family: poppins;
  font-weight: 500;
}
