.movie-banner {
  display: flex;
  justify-content: center;
  align-items: center;
}

.bannerWrapper {
  display: flex;
  max-width: 1400px;
  max-height: 500px;
  overflow: hidden;
  border-radius: 5px;
}

.bannerWrapper img {
  object-position: bottom;
  border-radius: 5px;
  width: 100%;
  object-fit: contain;
}

@media (max-width: 768px) {
  
}