.popularMovie {
  font-family: inherit;
  color: var(--white);
  position: relative;
  margin: 1rem 1rem;
  overflow: hidden;
  height: 70vh;
  border-radius: 5px;
}

.img {
  width: 100%;
  height: auto;
  border: none;
  opacity: 0.5;
  z-index: -100;
}

.movieInfo {
  position: absolute;
  bottom: 10%;
  left: 2%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  text-align: left;
}

.HeaderHeadline {
  text-transform: uppercase;
  position: absolute;
  top: 5%;
  right: 5%;
  font-size: 1rem;
  letter-spacing: 0.1rem;
  color: var(--white);
  font-family: poppins;
  display: none;
}

.HeaderMovieName {
  font-size: 1.5rem;
  letter-spacing: 0.1rem;
  font-family: poppins;
}

.HeaderParagraph {
  display: none;
  font-family: poppins;
  font-size: 0.9rem;
  width: 55%;
  line-height: 190%;
  margin-top: 0.5rem;
  font-weight: 400;

  color: rgb(228, 228, 228);
  background-color: rgba(0, 0, 0, 0.1);
}

.HeaderButton {
  padding: 0.5rem 1rem;
  font-family: poppins;
  background-color: var(--red);
  border: none;
  color: var(--white);
  border-radius: 0.3rem;
  font-weight: 600;
  cursor: pointer;
  margin-top: 2rem;
  font-size: 1rem;
}

.HeaderButton:hover {
  background-color: var(--maroon);
  transition: 200ms;
}

@media screen and (min-width: 1024px) {
  .HeaderHeadline {
    font-size: 3rem;
    letter-spacing: 0.1rem;
    position: absolute;
  }

  .HeaderMovieName {
    font-size: 3rem;
    letter-spacing: 0.1rem;
  }

  .HeaderParagraph {
    font-size: 1rem;
    font-family: inherit;
  }
}

@media screen and (min-width: 768px) {
  .HeaderHeadline {
    font-size: 1rem;
    letter-spacing: 0.1rem;
    font-family: poppins;
  }

  .HeaderMovieName {
    font-size: 3rem;
    letter-spacing: 0.1rem;
    font-family: poppins;
  }

  .HeaderParagraph {
    font-size: 0.9rem;
    font-family: poppins;
    display: inline;
  }
}
