.nav {
  background-color: var(--black);
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: var(--white);
  height: 7vh;
  border-bottom: 1px solid var(--dark-grey);
  margin: 0 1rem;
  font-family: inherit;
}
.a {
  text-decoration: none;
  color: inherit;
  font-family: poppins;
}
.li {
  cursor: pointer;
}
.li:hover {
  color: var(--red);
  transition: 200ms;
}
.input {
  width: 25vw;
  border: none;
  font-size: 0.8rem;
  font-family: poppins;
  background: var(--black);
  border-bottom: 1px solid var(--white);
  font-size: 1rem;
  color: var(--white);
  position: relative;
}
.input:focus {
  outline: none;
  border-bottom: 1px solid var(--red);
}
.search {
  position: relative;
}
.icon {
  position: absolute;
  right: 0.5rem;
  cursor: pointer;
}
.ul {
  display: flex;
  gap: 1rem;
  list-style-type: none;
  font-family: inherit;
}
@media screen and (min-width: 768px) {
  .ul {
    gap: 3rem;
  }
}
