.popularMovie {
  font-family: inherit;
  color: var(--white);
  position: relative;
  margin: 1rem 2rem;
}
.img {
  width: 100%;
  height: 70vh;
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  border: none;
  border-radius: 1rem;
  opacity: 0.5;
}
.headerText {
  font-family: inherit;
  position: absolute;
  bottom: 0;
  display: flex;
  border-radius: 1rem;
  height: 100%;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  align-content: center;
}
.HeaderHeadline {
  font-size: 1rem;
  letter-spacing: 0.1rem;
  color: rgba(198, 194, 194, 0.641);
}

.HeaderMovieName {
  font-size: 1.5rem;
  letter-spacing: 0.1rem;
}
.HeaderParagraph {
  font-family: inherit;
  font-size: 0.8rem;
  width: 55%;
  line-height: 150%;
  /* background-color: rgb(181, 213, 241); */
  margin-top: 0.5rem;
  color: rgb(198, 194, 194);
}
.HeaderButton {
  padding: 0.5rem 1rem;
  background-color: var(--red);
  border: none;
  color: var(--white);
  border-radius: 0.3rem;
  font-weight: 600;
  cursor: pointer;
  margin-top: 2rem;
  font-size: 1rem;
}
.HeaderButton:hover {
  background-color: var(--maroon);
  transition: 200ms;
}
@media screen and (min-width: 1024px) {
  .HeaderHeadline {
    font-size: 2rem;
    letter-spacing: 0.1rem;
    position: absolute;
    /* top: 0; */
    left: 0;
    transform: rotate(270deg);
    color: rgba(198, 194, 194, 0.641);
  }
  .HeaderMovieName {
    font-size: 3rem;
    letter-spacing: 0.1rem;
  }
  .HeaderParagraph {
    font-size: 1rem;
  }
}
@media screen and (min-width: 768px) {
  .HeaderHeadline {
    font-size: 1rem;
    letter-spacing: 0.1rem;
    color: rgba(198, 194, 194, 0.641);
  }
  .HeaderMovieName {
    font-size: 3rem;
    letter-spacing: 0.1rem;
  }
  .HeaderParagraph {
    font-size: 1rem;
  }
}
