.App {
  max-width: 1440px;
  margin: auto;
}

section {
  margin: 108px 0;
  padding: 0 2rem;
}

section:first-child {
  margin-top: 0;
}
section:last-child {
  margin-bottom: 0;
}

@media (max-width: 768px) {
  section {
    margin: 54px 0;
    padding: 0 1rem;
  }
}