.App {
  max-width: 1440px;
  margin: auto;
}

h1, h2, h3, h4, h5, h6{
  font-family: var(--font-poppins);
}

p {
  font-family: var(--font-merriweather);
}

section {
  margin: 108px 0;
}

section:first-child {
  margin-top: 0;
}
section:last-child {
  margin-bottom: 0;
}