@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;0,500;0,600;0,700;0,800;1,400;1,500;1,600;1,700;1,800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Merriweather&display=swap");

:root {
  /* Color palette */
  --red: #db0000;
  --black: #000000;
  --white: #ffffff;
  --dark-grey: #564d4d;
  --maroon: #831010;

  /* Fonts */
  --font-poppins: "Poppins", sans-serif;
  --font-merriweather: "Merriweather", serif;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-image: radial-gradient(
    65% 50% at bottom center,
    var(--red),
    var(--black)
  );
  background-attachment: fixed;
  /* background-color: var(--black); */
}
